shortest_path/shortestPath_leaf.jade
doctype HTML
html
	head
		title shortest path		
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8") 
		link(rel = "stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/loading_bar.css")
		script(src='js/PACE.js')
		script(src = 'js/OpenLayers.js')
		script(src = 'js/node.js')
		script(src = 'js/nodelist.js')
		script(src = 'js/edgelist.js')
		script(src = 'js/sp.js')
		script(src = 'js/food.js')
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(rel = "stylesheet" href="leaflet/leaflet.css")
		link(href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet')
		script(src = 'https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js')
		script(src="leaflet/leaflet.js")
		script(src="http://rawgit.com/mapbox/mapbox-gl-leaflet/master/leaflet-mapbox-gl.js")
		
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	
		script(src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src='https://unpkg.com/leaflet-sidebar')
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		

		
      
	body
		.loader
			ul
				li
				li
				li
				li
				li
		div(id = "basicMap")
		div(id = "sidebar")
			.form
				.icondiv
					i.glyphicon.glyphicon-home
				input(class="inputText" type="text" name="home" placeholder="HOME")
				input(name="home_lat" style="display:none")
				input(name="home_lng" style="display:none")
			.form
				.icondiv
					i.glyphicon.glyphicon-flag
				input(class="inputText" type="text" placeholder="Destination" name="dest")
				input(name="dest_lat" style="display:none")
				input(name="dest_lng" style="display:none")
			.form
				.icondiv
					i.glyphicon.glyphicon-transfer
				input(class="inputText" type="text" placeholder="Distance" name="spdist")
			.form
				.icondiv.search
					i.zoom
				.icondiv.search
					i.glyphicon.glyphicon-certificate(id="streets")
				.icondiv.search(id="delete" onclick="javascript:deleteLayer();")
					i.glyphicon.glyphicon-remove
				.icondiv.search(id='searchpath' onclick="javascript:f1(f2);")
					i.glyphicon.glyphicon-search
				.icondiv.search(id="location" onclick="javascript:getlocation();")
					i.glyphicon.glyphicon-screenshot
			.form
				.icondiv.search(onclick="javascript:foodloader(f2);")					
					i.glyphicon.glyphicon-cutlery
			
				
		script(src = 'js/map.js')
		script.
			
		


			
			

shortest_path/shortestPath_leaf.html
<!DOCTYPE HTML>
<html>
  <head>
    <title>shortest path		</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/loading_bar.css">
    <script src="js/PACE.js"></script>
    <script src="js/OpenLayers.js"></script>
    <script src="js/node.js"></script>
    <script src="js/nodelist.js"></script>
    <script src="js/edgelist.js"></script>
    <script src="js/sp.js"></script>
    <script src="js/food.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js"></script>
    <script src="leaflet/leaflet.js"></script>
    <script src="http://rawgit.com/mapbox/mapbox-gl-leaflet/master/leaflet-mapbox-gl.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet-sidebar"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="loader">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div id="basicMap"></div>
    <div id="sidebar">
      <div class="form">
        <div class="icondiv"><i class="glyphicon glyphicon-home"></i></div>
        <input type="text" name="home" placeholder="HOME" class="inputText">
        <input name="home_lat" style="display:none">
        <input name="home_lng" style="display:none">
      </div>
      <div class="form">
        <div class="icondiv"><i class="glyphicon glyphicon-flag"></i></div>
        <input type="text" placeholder="Destination" name="dest" class="inputText">
        <input name="dest_lat" style="display:none">
        <input name="dest_lng" style="display:none">
      </div>
      <div class="form">
        <div class="icondiv"><i class="glyphicon glyphicon-transfer"></i></div>
        <input type="text" placeholder="Distance" name="spdist" class="inputText">
      </div>
      <div class="form">
        <div class="icondiv search"><i class="zoom"></i></div>
        <div class="icondiv search"><i id="streets" class="glyphicon glyphicon-certificate"></i></div>
        <div id="delete" onclick="javascript:deleteLayer();" class="icondiv search"><i class="glyphicon glyphicon-remove"></i></div>
        <div id="searchpath" onclick="javascript:f1(f2);" class="icondiv search"><i class="glyphicon glyphicon-search"></i></div>
        <div id="location" onclick="javascript:getlocation();" class="icondiv search"><i class="glyphicon glyphicon-screenshot"></i></div>
      </div>
      <div class="form">
        <div onclick="javascript:foodloader(f2);" class="icondiv search">					<i class="glyphicon glyphicon-cutlery"></i></div>
      </div>
    </div>
    <script src="js/map.js"></script>
    <script></script>
  </body>
</html>
